<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <Header></Header>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <Menu></Menu>
      </b-col>
    </b-row>
    <b-row>
      <b-col align-self="center">
        <router-view></router-view>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Header from './Header'
import Menu from './Menu'
export default {
  components: {
    Header,
    Menu
  }
}
</script>
