<template>
  <div>
    <b-nav tabs fill align="left">
      <b-nav-item><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/about">About</router-link></b-nav-item>
      <b-nav-item><router-link to="/search">SearchDescription</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
