<template>
  <div>
    <b-table :items="dataList" :fields="fields" striped hover>
      <template v-slot:cell(showdetails)="data"
        ><b-button
          v-b-modal.modal-multi-1
          @click="getData(data)"
          variant="danger"
          >ดูรายละเอียด</b-button
        >
        <b-modal id="modal-multi-1" size="lg" title="ดูรายละเอียดงาน" ok-only>
          <h1>{{ form.company }}</h1>
          <b-container
            class="bv-example-row"
            style="border: groove black 2px; border-radius: 3px; padding: 15px"
          >
            <b-row>
              <b-col>
                <h4>{{ form.position }}</h4>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <h6>สถานที่: {{ form.place }}</h6>
              </b-col>
              <b-col>
                <h6>การศึกษา: {{ form.education }}</h6>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                ><h6>เงินเดือน: {{ form.salary }}</h6>
              </b-col>
              <b-col
                ><h6>เพศ: {{ form.gender }}</h6>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                ><h6>อัตรา: {{ form.amount }} ตำแหน่ง</h6>
              </b-col>
              <b-col
                ><h6>ประสบการณ์: {{ form.experience }} ตำแหน่ง</h6>
              </b-col>
            </b-row>
            <b-row>
              <b-col
                ><h6>ประเภทงาน: {{ form.type_of_work }}</h6>
              </b-col>
            </b-row>
          </b-container>
          <h6 style="margin-top: 20px">หน้าที่และความรับผิดชอบ</h6>
          <b-card-text>{{ form.responsibility }}</b-card-text>
          <h6>คุณสมบัติผู้สมัคร</h6>
          <b-card-text>{{ form.characteristic }}</b-card-text>
          <h6>สวัสดิการ</h6>
          <b-card-text>{{ form.security }}</b-card-text>
          <h6>ชื่อผู้ติดต่อ</h6>
          <b-card-text>{{ form.contactname }}</b-card-text>
          <h6>ที่อยู่</h6>
          <b-card-text>{{ form.address }}</b-card-text>
          <h6>โทรศัพท์</h6>
          <b-card-text>{{ form.phone }}</b-card-text>
          <h6>โฮมเพจ</h6>
          <b-card-text>{{ form.homepage }}</b-card-text>
          <b-button
            style="    display: block; margin-left: auto; margin-right: auto"
            squared
            variant="outline-danger"
            >สมัครเดี้ยวนี้</b-button
          >
        </b-modal>
      </template>
    </b-table>
  </div>
</template>

<script>
import dataService from './DataService'
export default {
  data () {
    return {
      form: {
        id: -1,
        position: '',
        company: '',
        responsibility: '',
        characteristic: '',
        type_of_work: '',
        education: '',
        amount: '',
        gender: '',
        salary: '',
        experience: '',
        place: '',
        security: '',
        contactname: '',
        address: '',
        phone: '',
        homepage: ''
      },
      fields: [
        { key: 'id', label: '#' },
        { key: 'position', label: 'งาน' },
        { key: 'company', label: 'บริษัท' },
        { key: 'showdetails', label: 'รายละเอียด' }
      ],
      dataList: []
    }
  },
  methods: {
    getData (data) {
      // console.log(this.dataList[data.index])
      this.form = this.dataList[data.index]
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.dataList = dataService.getData()
  }
}
</script>
